.bgImage{
  background-image: url("../assets/canned-water-3-cans.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: color;
}
